{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit "{{ task['name'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="title">Title</label>
    <input name="name" id="title"
      value="{{ request.form['name'] or task['name'] }}" required>
    
    <label for="status">status</label>
     <select id="status" name="status">
      <option value="{{ request.form['status'] or task['status'] }}">{{ request.form['status'] or task['status'] }}</option>
      <option value="complete">complete</option>
      <option value="in-process" default>in-process</option>
      <option value="pending">pending</option>
    </select>

    <label for="pt">priority</label>
    <select id="pt" name="priority" >
      <option value="{{ request.form['priority'] or task['priority'] }}">{{ request.form['priority'] or task['priority'] }}</option>
      <option value="High">High</option>
      <option value="Medium" default>Medium</option>
      <option value="low">low</option>
    </select>
    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('todo.delete', id=task['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}